[package]
name = "xross-alloc"
version = "3.0.0"
edition = "2024"

[dependencies]
# すべて optional にし、必要なときだけコンパイルに含める
jemallocator = { version = "0.5.4" }
mimalloc = { version = "0.1.48" }
rpmalloc = { version = "0.2.2" }
snmalloc-rs = { version = "0.3.8" }
tcmalloc = { version = "0.3.0" }
rand = "0.10.0"

[features]
default = ["multi-thread"]
multi-thread = []
jemalloc = []
mimalloc = []
rpmalloc = []
snmalloc = []
tcmalloc = []
